
DotNetCoreCrud/.vs/DotNetCoreCrud/FileContentIndex/3e069bc6-c797-446b-b28d-42aa47c07615.vsidx
DotNetCoreCrud/.vs/DotNetCoreCrud/FileContentIndex/4f370843-ee9f-4f27-ae4e-e05ff31aaf79.vsidx
DotNetCoreCrud/.vs/DotNetCoreCrud/FileContentIndex/7b97ab56-af38-4967-bf3e-25a3627ff264.vsidx
DotNetCoreCrud/.vs/DotNetCoreCrud/FileContentIndex/b30324f1-fe1b-4a2c-8aef-321b2d315a8a.vsidx
/DotNetCoreCrud/.vs
/DotNetCoreCrud/.vs
*.bin
